{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "browsers": "> 0.25%, not dead"
                }
            }
        ]
    ],
    "plugins": [
        ["prismjs", {
            "languages": ["javascript"],
            "plugins": ["line-numbers"]
        }]
    ]
}